<configuration>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date %-5coloredLevel %logger - %msg%n%xException{30}</pattern>
    </encoder>
  </appender>

  <appender name="json-encoded" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
  </appender>

  <logger name="play" level="INFO" />
  <logger name="application" level="DEBUG" />
  <logger name="com.gu.itunes" level="DEBUG" />

  <root level="INFO">
    <appender-ref ref="json-encoded"/>
  </root>

</configuration>
